.navbar-brand img{
    width: 250px;
}
.navbar{
    padding-top: 30px;
    margin-bottom: 50px;

}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {

    justify-content: end;
    
}
.navbar-expand-lg .navbar-collapse .trade-button{

    justify-content: start;
    
}
}
@media (max-width:350px) {

    .navbar-brand img{
    width: 200px;
}
}