.div4-content img{
    width: 300px;
}

.div4-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
    
}
@media (max-width:767px) {
    .div4-content img{
        width: 90%;
    }
}
@media (max-width:992px) {
    .div4-content img{
        width: 90%;
    }
}

