.div6-wrapper{
    background-color: rgba(166, 232, 234, 0.35);
    
    margin-top: 50px;
    margin-bottom: 50px;

}
.div6-row{
    
    padding-top: 50px;
    padding-bottom: 50px;

}
@media (min-width: 767px){
    .div6-content{
        
    padding-left: 50px;
    padding-right: 50px;

    }
    .div6-content2{
       padding-top: 40px;
       padding-right:200px;

    
    }

}
@media screen and (min-device-width: 767px) and (max-device-width: 992px) { 
    .div6-content2{
        padding-right: 0;
    }
}

